h1 {
  color: rgb(246, 247, 246);
}

h1 {
  font-weight: 700;
}

body{
  background: linear-gradient(to right, rgb(60, 63, 224),rgb(101, 7, 163));
}
h3{
  font-style: oblique;
  font-size: 40px;
}
h4{
  font-style: italic;
  font-size: 25px;
}